<footer style="background-color: black;"  class="p-t-30 p-b-30">
  <div style="background-color: black;"  class="row">
    <div data-aos="zoom-up" data-aos-once="true" data-aos-easing="linear" data-aos-duration="900"
      class="col-lg-3 p-l-40 p-b-40">

      <a class="logo" rel="nofollow" (click)="routeto('/')">
        <img class="logo__img p-b-60 pointer" alt="Logo" src="assets/portfolio/logo.jpg" /></a>
      <p>Full-stack web and mobile app development</p>
    </div>

    <!-- <div  data-aos="zoom-up" data-aos-once="true" data-aos-easing="linear" data-aos-duration="900"
      class="col-lg-6 smallnodisplay ">
      <div style="padding-top: 5%;" class="p-b-30 bg-color display-flex content-center">
        <div class="navLink m-l-5 m-r-5" (click)="routeto('/')">Home</div>
        <div class="navLink m-l-5 m-r-5" (click)="routeto('/works')">Works </div>
        <div class="navLink m-l-5 m-r-5" (click)="routeto('/technologies')">technologies</div>
        <div class="navLink m-l-5 m-r-5" (click)="routeto('/services')">services</div>
        <div class="navLink m-l-5 m-r-5" (click)="routeto('/about')">Comapany</div>
        <div class="navLink m-l-5 m-r-5" (click)="routeto('/contact')"> Contact Us</div>
      </div>

    </div> -->
    <div style="padding-left: 30px;">
    <P style="color:whitesmoke;">Quick Links </P>
    <P style="color:whitesmoke;">Terms and Conditions </P>
    <p>   Privacy Policy
    </p>
 
  </div>
  <div style="padding-left: 4%;">
  </div>
    <div style="float:right;" data-aos="zoom-up" data-aos-once="true" data-aos-easing="linear" data-aos-duration="900"
    class="col-lg-3 p-l-33 display-flex logo__img">
    <a target="_blank" href="https://www.google.com/gmail/about/"><i
        class="primary-color pointer p-b-25 m-l-10 m-r-10 f-30  fas fa-envelope"></i></a>
    <a target="_blank" href="https://www.facebook.com/"><i
        class="primary-color pointer p-b-25 m-l-10 m-r-10 f-30  fab fa-facebook-square"></i></a>
    <a target="_blank" href="https://www.whatsapp.com/"><i
        class="primary-color pointer p-b-25 m-l-10 m-r-10 f-30  fab fa-whatsapp-square"></i></a>
     
   
  </div>
  <div style="text-align: center;padding-left: 30px;">
    <p>Get it touch with us</p>
    <p>Send  message through messenger</p>
    <p>Quick Responces</p>
  </div>
  </div>
 <div style="text-align: center;">
   <p>Tech Hatcher 2020@All rights reserved</p>
 </div>
</footer>