@import'../sass/variable';
.tu-border{
    border-color: $link-color;
    margin-left: 25vw;
    margin-right: 25vw;
}
.techimgheight{
    height: 90px;
    width: 90px;
}
.techheight{
    height: 40%;
    width: 60%;
}