<app-header text='Additional discounts on all services' type=about></app-header>
<div class="section" data-aos="zoom-out" data-aos-easing="linear" data-aos-duration="900">
  <h1 class="text-center"> A helping hand from Devunleash</h1>
</div>

<div class="text-center">

  <h2 class="text-center p-l-30 p-r-30"> A note from our Founders</h2>

  <div class="row p-b-60">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 text-left">
      <p class="p-t-5">  Hey All!</p>
      <p>It’s been a strange few weeks! We are facing a time of significant global, macro and local uncertainty,
        bringing with it unexpected challenges to small business owners.

        Here at Devunleash, we’re working to balance responding to current events, ensuring we maintain the same
        standards of service and support, and continuing to invest to improve the services and software that we provide.

        Like many of you, we are trying to do what we can to help our customers during this time</p>
        <p class="strongP p-t-30 f-600 text-center"> We’re giving Flat 20% discount on all our services.</p>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<div class="p-b-60">
  <app-headingDesc bgprime=true button='Talk to Us' (click)="routetopage('/contact')"
    heading='Feel free to contact us for any Query'
    description='Tell us about your business needs and problems. We will apply our diverse expertise to craft the best solution for your needs.'>
  </app-headingDesc>
</div>
<app-footer></app-footer>