<app-header   type=contact ></app-header>

<div style="background-color: black;padding-top: 10%;" class="section"
data-aos="zoom-out" data-aos-once="true" data-aos-easing="linear" data-aos-duration="600">
  <app-headingDesc heading='Contact us to make your ideas real!'
    description='We will provide you optimal satisfaction through a range of business solutions and Quality softwares'>
  </app-headingDesc>
  <div class="smallnodisplay p-l-30 text-center">
    <h6> Gmail Facebook WhatsApp</h6>
    
    <div style="padding-left: 43%;" data-aos="zoom-up" data-aos-once="true" data-aos-easing="linear" data-aos-duration="900"
    class="col-lg-3 p-l-33 display-flex logo__img">
    <a target="_blank" href="https://www.google.com/gmail/about/"><i
        class="primary-color pointer p-b-25 m-l-10 m-r-10 f-30  fas fa-envelope"></i></a>
    <a target="_blank" href="https://www.facebook.com/"><i
        class="primary-color pointer p-b-25 m-l-10 m-r-10 f-30  fab fa-facebook-square"></i></a>
    <a target="_blank" href="https://www.whatsapp.com/"><i
        class="primary-color pointer p-b-25 m-l-10 m-r-10 f-30  fab fa-whatsapp-square"></i></a>
   
   
  </div>
  </div>
  <div data-aos="zoom-out" data-aos-easing="linear" data-aos-once="true" data-aos-duration="600" >
    <img style="width: 100%;height: 100%;" class="techimgheight" data-aos="fade-up" data-aos-easing="linear"
    data-aos-once="true" data-aos-duration="900" src='assets/techLogos/footer.jpg'>

  </div>
</div>
<app-footer type=contact></app-footer>