<app-header></app-header>
<div class="p-t-85">

  <div class="display-flex align-items-center justify-content-center">
    <!-- https://particleslider.com/ -->
    <!-- https://codepen.io/zaslam/pen/qBdLeyx -->
    <!-- https://particleslider.com/js/particleslider/current/particleslider.js -->
    <!-- https://github.com/N-W-Turash/particle-slider-demo -->
    <div id="particle-slider">
      <div class="slides">
        <div class="slide" data-src="assets/D-Day-thick-White-Edges-v2.png">
        </div>
      </div>
      <canvas class="draw" width="800" height="400"></canvas>
    </div>
  </div>
</div>


<div class="section text-center anchor1">
  <div data-aos="zoom-in-up" data-aos-once="true" data-aos-easing="ease-out">
    <app-headingDesc [heading]='heading' [description]='description'></app-headingDesc>
  </div>

  <div class="row">
    <div class="col-lg-4 center-align text-center  p-t-70 p-b-70" *ngFor="let item of data?.techItem; index as i">
      <img class="imgheight" data-aos="zoom-in-up" data-aos-once="true" data-aos-easing="ease-out" data-aos-offset="500"
        data-aos-duration="700" data-aos-anchor=".anchor1" [src]='item.imagePath'>
      <div class="tittle p-t-30 p-b-30" data-aos="zoom-in-up" data-aos-once="true" data-aos-easing="ease-out"
        data-aos-offset="500" data-aos-duration="700" data-aos-anchor=".anchor1">{{item.title}}</div>
    </div>
  </div>

  <app-button text="Explore our services" (click)="routetopage('/services')" type=fill width="250px" height="50px">
  </app-button>

</div>


<app-portfolio-highlight animationClass="tu-color-animation"></app-portfolio-highlight>

<div class="p-t-30 p-b-100">
  <app-headingDesc heading='Check out more DevUnleash work'
    description='We have built exciting other projects to help businesses address their problems across broad range of industries.'
    button='Explore our Portfolio' (click)="routetopage('/works')" btnwidth='270px'>
  </app-headingDesc>
</div>
<div class="section text-center .other-element1">
  <app-headingDesc heading='Apps for all screens'
    description='We help businesses establish their presence on all platforms using latest state-of-the-art technologies. Reach your clients where ever they are.'>
  </app-headingDesc>
  <div class="row">
     
    <div class="col-lg-2 center-align text-center p-t-70 p-b-70">
      <img class="techimgheight" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="300" src='assets/techLogos/android.svg'>
      <div class="tittle p-t-30 p-b-30" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="300">Android </div>
    </div>

    <div class="col-lg-2 center-align text-center p-t-70 p-b-70">
      <img class="techimgheight" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="500" src='assets/techLogos/ios.svg'>
      <div class="tittle p-t-30 p-b-30" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="500">IOS </div>
    </div>

    <div class="col-lg-2 center-align text-center p-t-70 p-b-70">
      <img class="techimgheight" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="600" src='assets/techLogos/web.svg'>
      <div class="tittle p-t-30 p-b-30" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="600">Web </div>
    </div>

    <div class="col-lg-2 center-align text-center p-t-70 p-b-70">
      <img class="techimgheight" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="700" src='assets/techLogos/wearable.svg'>
      <div class="tittle p-t-30 p-b-30" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="700">Wearable </div>
    </div>

    <div class="col-lg-2 center-align text-center p-t-70 p-b-70">
      <img class="techimgheight" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="800" src='assets/techLogos/tv.svg'>
      <div class="tittle p-t-30 p-b-30" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="800">TV </div>
    </div>

    <div class="col-lg-2 center-align text-center p-t-70 p-b-70">
      <img class="techimgheight" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="900" src='assets/techLogos/iot.svg'>
      <div class="tittle p-t-30 p-b-30" data-aos="fade-up" data-aos-easing="linear" data-aos-once="true" data-aos-duration="900">IOT </div>
    </div>

  </div>
  <app-button text="Explore our Tech Stack" (click)="routetopage('/technologies')" type=outline width="270px"
    height="55px"></app-button>
</div>

<div class="p-b-60">
  <app-headingDesc bgprime=true button='Drop Us A Message' (click)="routetopage('/contact')"
    heading='Lets connect and help?'
    description='Tell us about your business needs and problems. We will apply our diverse expertise to craft the best solution for your needs.'>
  </app-headingDesc>
</div>
<app-footer></app-footer>