<app-header type=works></app-header>

<div class="section p-l-100 p-r-100 "  >
  <h2 data-aos="zoom-in" data-aos-once="true" data-aos-easing="linear" data-aos-duration="300">Recent <br> <span class="p-l-50"> Projects </span></h2>
  <div class="smallnodisplay" *ngFor="let item of workings?.workitems; let i = index">
    <div class="row p-t-155 " data-aos="fade-down-right" data-aos-once="true" data-aos-easing="linear" data-aos-duration="900" *ngIf="i % 2 == 1">
      <div class="col-lg-6 pointer workBoxSize" (click)="routeto(item.title)"
        [ngStyle]="{'background-color': item?.themeColor }">
        <div class="portfoliobox">
            <img class="portfolioimg" [src]='item?.imagePath'>
          <h4 class="p-b-0 p-l-20"> {{item?.title}}</h4>
          <div class="subtittle p-l-20 p-b-30"> {{item?.description}}</div>
        </div>
      </div>
      <div class="col-lg-5"></div>
    </div>
    <div class="row p-t-155 " data-aos="fade-down-left" data-aos-once="true" data-aos-easing="linear" data-aos-duration="900" *ngIf="i % 2 == 0">
      <div class="col-lg-5"></div>
      <div class="col-lg-6 pointer workBoxSize" (click)="routeto(item.title)"
        [ngStyle]="{'background-color': item?.themeColor }">
        <div class="portfoliobox">
            <img class="portfolioimg" [src]='item?.imagePath'>
          <h4 class="p-b-0 p-l-20"> {{item?.title}}</h4>
          <div class="subtittle p-l-20 p-b-30"> {{item?.description}}</div>
        </div>
      </div>
    </div>
  </div>


  
  <div class="section">
    <div (click)="routeto(item.title)" [ngStyle]="{'background-color': item?.themeColor }" class="bignodisplay row p-t-30 m-t-30" *ngFor="let item of workings?.workitems">
      <div  data-aos="fade-up" data-aos-once="true" data-aos-easing="linear" data-aos-duration="900" class="col-lg-5">
        <img class="portfolioimg" [src]='item?.imagePath'>
      </div>
      <div  data-aos="fade-up" data-aos-once="true" data-aos-easing="linear" data-aos-duration="900" class="col-lg-7" >
        <h4 class="p-t-5 p-b-0"> {{item?.title}}</h4>
        <div class="subtittle p-b-30"> {{item?.description}}</div>
      </div>
      <div class="p-t-10 p-b-10 p-l-18">
        <app-button text="See full case study" (click)="routeto(item.title)" type=fill width="250px" height="50px"></app-button>
      </div>
    </div>

    <div class="row p-t-30" *ngFor="let item of workings?.morewrkingPage">
      <div  data-aos="fade-up" data-aos-once="true" data-aos-easing="linear" data-aos-duration="900" class="col-lg-5">
        <img class="portfolioimg" [src]='item?.imagePath'>
      </div>
      <div  data-aos="fade-up" data-aos-once="true" data-aos-easing="linear" data-aos-duration="900" class="col-lg-7">
        <h4 class="p-b-0 p-l-20"> {{item?.title}}</h4>
        <div class="subtittle p-l-20 p-b-30"> {{item?.description}}</div>
      </div>

    </div>
  </div>
</div>
<div class="p-b-60 p-t-60">
  <app-headingDesc bgprime=true button='Talk to Us' (click)="routetopage('/contact')"
    heading='Need a skillful solution provider?' description='Tell us about your needs and challenges. We&#39;ll apply our broad-ranging expertise to develop the perfect solution
    for your business.'></app-headingDesc>
</div>
<app-footer type=works></app-footer>